<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 -->
 <link href="webjars/bootstrap/4.0.0/css/bootstrap.min.css"  rel="stylesheet">
<script src="webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="webjars/jquery/3.2.1/jquery.min.js"></script>
 <link rel='stylesheet'	href='https://use.fontawesome.com/releases/v5.4.2/css/all.css' integrity='sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns'
	crossorigin='anonymous'>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 <style>
	li{
		color:white;
		padding-left:30px;
	padding-right:30px;
	}
a{
	color:black;
	padding-left:30px;
	padding-right:30px;
}
li:hover{
	background-color: #357f7f;
	
} 
</style>

<nav  class="navbar navbar-expand-sm " style="width:100%; background-color:#ffffff;">
<div class="container">
	<a href="home" class="navbar-brand">NY Products</a>
	<button class="navbar-toggler navbar-light" style="border:2px solid black"  data-toggle="collapse" data-target="#navbarid">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarid" >
<ul class="navbar-nav  ml-auto">

	<li class="nav-item">
		<a href="home" class="nav-link">Home</a>
	</li>
	<li class="nav-item dropdown">
		<a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		
		Items
		</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a class="dropdown-item" href="itemDetails">Add Item</a>
			<a class="dropdown-item" href="purchase">Purchase</a>
			<a class="dropdown-item" href="#">Sale</a>
			<a class="dropdown-item" href="#">Stock</a>
			<a class="dropdown-item" href="#">Details</a>
			
		</div>
		
	</li>
	<li class="nav-item">
		
		<a href="clientDetails" class="nav-link">Client</a>
		
	</li>
	<li class="nav-item dropdown">
	<a href="#" class="nav-link dropdown-toggle" id="invoiceDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Invoice		
	</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a class="dropdown-item" href="companyinfo">Self Company Details</a>
			<a class="dropdown-item" href="invoice">Create Invoice</a>
			<a class="dropdown-item" href="invoicedetails">Invoice Details</a>
			<a class="dropdown-item" href="qutation">Quotation Details</a>
		</div>
		
	</li>
		
	
	<li class="nav-item dropdown">
	<a href="#" class="nav-link dropdown-toggle" id="invoiceDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Inventory
	</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a class="dropdown-item" href="defuseritem">Stock</a>
			<a class="dropdown-item" href="purchasedefuserlist">Purchase Details</a>
			<a class="dropdown-item" href="saledefuserlist">Sale Details</a>
			<a class="dropdown-item" href="product">Product</a>
			<a class="dropdown-item" href="orders">Order Details</a>
			<a class="dropdown-item" href="deliveries">Delivery</a>
		</div>
		
	</li>
	
	
	<li class="nav-item">
		<a href="logout" class="nav-link">Logout</a>
	</li>

</ul>
	
</div>
</div>

</nav>