@charset "ISO-8859-1";

.filter-header{
	background-color:#6da071;
	padding:10px;
	margin:10px;
	margin-bottom:0px;
	color:white;	
}
.table-cover{
	background-color:#6da071;
	padding-left:10px;
	padding-right:10px;
	margin:10px;
	margin-top:0px;
	padding-top:0px;
}
.table-style{
	background-color:white;width:100%;" 
}
.table-header-style{
	background-color: #0ca02f; color:#f8f9fa;	
}

.card{
	
	margin-top:10px;
}
.card-header{
	background-color:#6da071;
}